{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cart_template_tags %}


{% block content %}
<div class="grey lighten-3">
    <!--Main layout-->
    <main class="mt-1 pt-1">
        <div class="container wow fadeIn">

            <!-- Heading -->
            <h2 class="my-5 h2 text-center">{{ title }} Address</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-8 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <form method="POST" class="card-body">{% csrf_token %}

                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">

                                <label for="country">Address type</label>
                                <!-- <select class="custom-select d-block w-100" required>
                                    <option value="">Choose...</option>
                                    <option>Home</option>
                                </select> -->
                                {{ form.address_type }}
                                <div class="invalid-feedback">
                                    Please select
                                </div>

                            </div>
                            <!--Grid column-->

                            <!--address-->
                            <div class="md-form mb-5 ml-3">
                                <!-- <input type="text" id="address" class="form-control" placeholder="1234 Main St"> -->
                                {{ form.street_address }}
                                <label for="address" class="">Address</label>
                            </div>

                            <!--address-2-->
                            <div class="md-form mb-5 ml-3">
                                <!-- <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite"> -->
                                {{ form.apartment_address }}
                                <label for="address-2" class="">Address 2 (optional)</label>
                            </div>

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">

                                    <label for="country">Country</label>
                                    <!-- <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Choose...</option>
                    <option>India</option>
                  </select> -->
                                    {{ form.country }}
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>

                                </div>
                                <!--Grid column-->




                                <!--Grid column-->
                                <!-- <div class="col-lg-4 col-md-6 mb-4">

                  <label for="state">State</label>
                  <select class="custom-select d-block w-100" id="state" required>
                    <option value="">Choose...</option>
                    <option>Maharashtra</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>

                </div> -->
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4">

                                    <label for="zip">Zip</label>
                                    <!-- <input type="text" class="form-control" id="zip" placeholder="" required> -->
                                    {{ form.zipcode }}
                                    <div class="invalid-feedback">
                                        Zip code required.
                                    </div>

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->
                            <div class="custom-control custom-checkbox">
                                <!-- <input type="checkbox"
                                  class="custom-control-input" name="same_billing_addess" id="default-address"> -->
                                  {{ form.default_address }}
                                <label class="custom-control-label" for="default-address">Save address as a default address</label>
                              </div>

                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Add address</button>

                        </form>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-4">


                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
    </main>
    <!--Main layout-->
</div>
{% endblock content %}