{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
  html,
  body,
  header,
  .carousel {
    height: 60vh;
  }

  @media (max-width: 740px) {

    html,
    body,
    header,
    .carousel {
      height: 100vh;
    }
  }

  @media (min-width: 800px) and (max-width: 850px) {

    html,
    body,
    header,
    .carousel {
      height: 100vh;
    }
  }
</style>


<!--Main layout-->
<main>
  <div class="container">
    <div class="table-responsive text-nowrap">
      <h2>Order summary </h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Image</th>
            <th scope="col">Item Title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total item price</th>
          </tr>
        </thead>
        <tbody>
          {% for order_item in object.items.all %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td> <a href="{{ order_item.item.get_absolute_url }}"><img src="{{order_item.item.image.url}}" alt="order-image" style="width: 15%;"></a></td>
            <td><a href="{{ order_item.item.get_absolute_url }}">{{ order_item.item.title }}</a></td>
            <td>₹​{{ order_item.item.price }}</td>
            <td>
              <a href="{% url 'remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
              {{ order_item.quantity}} 
              <a href="{% url 'add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
              {% if order_item.item.discount_price %}
                ₹​{{ order_item.get_total_item_discount_price }}
                 <span class="badge badge-primary">Saving ₹​{{ order_item.get_amount_saved }}</span>
              {% else %}
                ₹​{{ order_item.get_total_item_price }}
              {% endif %}
              <a style="color: red;" href="{% url 'remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5"><b>Your cart is empty</b></td>
          </tr>
          <tr>
            <td colspan="5">
              <a href="{% url 'all-product-view' %}" class="btn btn-warning float-right">Back to shopping</a>
            </td>
          </tr>
          {% endfor %}
          {% if object.coupon %}
          <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td>-₹​{{ object.coupon.amount }}(off)</td>
          </tr>
          {% endif %}
          {% if object.get_total %}
          <tr>
            <td colspan="4"><b>Order Total: </b></td>
            <td>₹​{{ object.get_total }}</td>
          </tr>
          <tr>
            <td colspan="5">
              <a href="{% url 'checkout-page' %}" class="btn btn-primary float-right  ml-2">Proceed to Checkout</a>
              <a href="{% url 'all-product-view' %}" class="btn btn-warning float-right">Back to shopping</a>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>

    </div>

  </div>
</main>
<!--Main layout-->

{% endblock content %}