{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .card {
    font-weight: 400;
    border: 0;
    width: 50%;
    margin-left: 100px;
    margin-bottom: 15px;
}

</style>
<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="{{ object.image.url }}" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            {% for cat in item.category.all%}
            <a href="/cat/{{ cat.slug }}">
              <span class="badge purple mr-1">{{ cat }}</span>
            </a>
            {% endfor %}
          </div>
          <h2 class="font-weight-bold title">{{ object.title }}</h2>

          <a href="{{ object.get_add_to_wishlist_url }}" style="float: right;" data-toggle="tooltip" data-placement="left" title="Add to wishlist">
            <i class="fas fa-heart fa-3x ml-2"></i>
          </a>
          <p class="lead">
            {% if object.discount_price%}
            <span class="mr-1">
              <del>₹​{{ object.price }}</del>
            </span>
            <span>₹​{{ object.discount_price }}</span>
            {% else %}
            <span>₹​{{ object.price }}</span>
            {% endif %}
          </p>


          <p class="lead font-weight-bold">Description</p>

          <p>{{ object.description }}</p>

          <!-- <form class="d-flex justify-content-left">
            
            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>
          </form> -->

          <!-- Promo code -->
          <form class="card p-2" method="POST" action="{% url 'check-zipcode' %}">{% csrf_token %}
            <div class="input-group">
              <!-- <input type="text" class="form-control" placeholder="Check Zipcode" aria-label="zipcode"
                aria-describedby="basic-addon2"> -->
                {{ zipcodeform.zipcode }}
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Check</button>
              </div>
            </div>
          </form>
          <!-- Promo code -->

          <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>
          <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">Remove from cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="my-4 h4">Additional information</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
          voluptates,
          quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/10.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/10.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/11.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->

{% endblock content %}